<% provide(:title, 'Contact') %>
     <h1>Contact</h1>
     <p>
        Contact us if you have questions or comments about this sample app
        <a href="http://railstutorial.org/contact">contact page</a>
     </p>
